<header>
  <h1>{{title}}</h1>
</header>
<main>
  <form class="add-form">
    <input type="text" class="dish-name" placeholder="Dish" #dish>
    <textarea type="text" placeholder="Ingridients" #ingridients></textarea>
    <textarea class="add-recipe" type="text" placeholder="Recipe" #recipe></textarea>
    <button class="add-btn" (click)="add(dish,ingridients,recipe)" type="button">Add</button>
  </form>
  <section class="todo-list" *ngIf="todos.length > 0">
    <div class="todo-item" *ngFor="let todo of todos">
      <h2 class="dish">{{todo.dish}}</h2>
      <p class="ingredients"><span class="ingredients-heading">Ingredients: </span>{{todo.ingredients}}</p>
      <p class="method"><span class="method-heading">Method: </span>{{todo.recipe}}</p>
      <div class="wrap-details">
        <button class="details" (click) = "changeCustoms(todo)">{{todo.details}}</button>
        <div class="actions" [ngClass] ="{'details-show':todo.isVisible}">
          <input type="edit-dish-name" placeholder="Edit dish" #editDish>
          <textarea type="text" placeholder="Edit ingridients" #editIngridients></textarea>
          <textarea class="edit-recipe" type="text" placeholder="Edit method" #editRecipe></textarea>
          <button class="edit-btn" (click)="edit(editDish,editIngridients,editRecipe,todo)">Edit</button>
          <button class="remove" (click)="remove(todo)">Remove</button>
        </div>
      </div>
    </div>
  </section>
</main>