@import '../assets/css/all.css';

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    background: #c21010;
    background: linear-gradient( #581212, #c21010 );
    color: #aa7979;
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
} 

textarea {
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 15px;
    padding: 15px;
    border: 2px solid #c21010;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    color: #646464;
}

.title {
    padding: 10px;
    line-height: 20px;
    font-size: 18px;
}

.add {
    width: 50%;
    outline: none;
    border: 2px solid #5c5b5b;
    transition: border 0.3s ease-in;
    /* resize: none; */
}

.add:focus, .add:active {
    border-color: #c21010;
}

.wrap-details {
    display: flex;
    justify-content: center;
}

.details, .remove, .edit-btn {
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c21010;
    background: linear-gradient(135deg, #581212, #c21010 60%, #ff0000);
    color: #d8d6d6;
    border: none;
    box-shadow: 0 0 10px #363636;
    transition: 0.2s all ease-in;
}

.edit-btn {
    margin-right: 15px;
}

.details:hover, .remove:hover {
    box-shadow: 0 0 10px #969595;
}

.actions {
    display: none;
}

.edit {
    margin: 0 15px;
    outline: none;
    border: 2px solid #5c5b5b;
    transition: border 0.3s ease-in;
}

.edit:focus, .edit:active {
    border-color: #c21010;
}

.details-show {
    display: block;
}

@media (max-width: 820px) {
    .wrap-details {
        flex-wrap: wrap;
    }
    
    .details {
        margin: 10px 0;
    }
    
    .details-show {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media (max-width: 675px) {
    .remove, .edit-btn {
        width: 75px;
        height: 30px;
    }
}

@media (max-width: 610px) {
    .title {
        font-size: 14px;
    }

    .edit {
        width: 70%;
        margin-bottom: 10px;
    }
}